* {
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 50px;
  background: #212121;
  position: fixed;
  width: 100%;
}

header {
  position: relative;
}

.menu {
  padding: 13px 79px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu_link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  margin-top: 50px;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  font-weight: 200;
  font-size: 13px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 6px;
}

.subheader .subheader_call {
  margin-top: 17px;
  font-weight: 300;
  font-size: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.subheader .subheader_phone {
  font-size: 22px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 28px;
}

.subheader_btn {
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: -webkit-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 162px;
  height: 46px;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin-top: 19px;
}

.promo {
  min-height: 799px;
  background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
  padding: 140px 0 165px 0;
}

.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin: 45px;
}

.promo .promo_subheader {
  margin: 0;
  margin-top: 22px;
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo .promo_desc {
  margin-top: 23px;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto;
  border: none;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: -webkit-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reason {
  padding: 18px 0 54px 0;
}

.black_label {
  width: 115px;
  height: 27px;
  background: #000000;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  line-height: 28px;
  margin: 0 auto;
}

.subheder_h2 {
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.reason_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  min-height: 150px;
  padding-bottom: 30px;
}

.reason_item .reason_round {
  width: 116px;
  height: 116px;
  background: #1EACC7;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.reason_round .reason_icon {
  width: 85px;
  height: 66px;
}

.reason_item .col_text {
  width: 371px;
  height: 150px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 300;
}

.col_text span {
  font-weight: 400;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1EACC7;
  line-height: 21px;
}

.reason_round .reason_icon1 {
  width: 54px;
  height: 78px;
}

.reason_round .reason_icon2 {
  width: 73px;
  height: 68px;
}
